<footer class="site-footer">
  <div class="wrapper">
    <hr class="mt0"/>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="mb0">{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.twitter_username %}
            <li><a href="//twitter.com/{{ site.twitter_username }}">twitter</a></li>
          {% endif %}
          {% if site.instagram_username %}
            <li><a href="//instagram.com/{{ site.instagram_username }}">instagram</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
