<header class="site-header {{ include.classname }}">
  <div class="wrapper">
    <hr class="mt0 h0"/>
    <nav class="site-nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
        {% if page.title %}
          {% if page.title == "Home" %}
            <h5 class="heading-5 mb0 home-icon"><a class="page-link mb0 lh0" href="{{ page.url | prepend: site.baseurl }}">
              ◦Lauren—Ames
            </a></h5>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="takeover__hamburger">
        <div class="takeover__line"></div>
        <div class="takeover__line"></div>
        <div class="takeover__line"></div>
      </div>
    </nav>
    <hr class="mb0"/>
  </div>
</header>
