<ul class="post-list" id="{{ include.id }}">
  {% for post in posts %}
    <li class="post-list-item">
      <hr/>
      <h5 class="heading-5 mb0">{{ post.categories }}</h5>
      <h3 class="heading-3">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <div class="post-content--truncated">
        {{ post.content | strip_html }}
      </div>
    </li>
  {% endfor %}
</ul>
