// Core Palette
$color-brand-maroon: #773344;
$color-brand-pink: #F4CFC9;

// Accent Palette
$color-brand-orange: #EC8861;
$color-brand-sienna: #EEB990;
$color-brand-peach: #FCAD92;
$color-brand-tangerine: #FDBF8F;

$color-brand-lemon: #EFDE7E;

$color-brand-teal: #43A7C6;
$color-brand-silver: #C2D1D6;

$color-brand-moss: #D1CBBA;

// Site Variables
$text-color: $color-brand-maroon;
$background-color: $color-brand-pink;

$grey-color: $color-brand-silver;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);


@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

$colors: (
  color-brand-maroon: #{$color-brand-maroon},
  color-brand-pink: #{$color-brand-pink},
  color-brand-orange: #{$color-brand-orange},
  color-brand-sienna: #{$color-brand-sienna},
  color-brand-peach: #{$color-brand-peach},
  color-brand-tangerine: #{$color-brand-tangerine},
  color-brand-lemon: #{$color-brand-lemon},
  color-brand-teal: #{$color-brand-teal},
  color-brand-silver: #{$color-brand-silver},
  color-brand-moss: #{$color-brand-moss}
);

$theme: (
  color-theme-fg: #{$color-brand-maroon},
  color-theme-bg: #{$color-brand-pink},
  color-theme-accent: #{$color-brand-sienna},
);

/* Create CSS Variables */
:root {
  @each $key, $val in $theme {
    --#{$key}: #{$val};
  }
}

body, a, a:hover {
  color: var(--color-theme-fg);
}

body {
  background-color: var(--color-theme-bg);
}

hr {
  background-color: var(--color-theme-fg);
}

.page-link {
  &:before {
    background-color: var(--color-theme-accent);
  }
  &:last-child {
      text-decoration-color: var(--color-theme-bg);
  }
}

.bg-wiggle__svg {
  fill: var(--color-theme-accent);
}