.filter-bar {
  position: sticky;
  top: -1px;
  z-index: 1;

  // &__name {
  //   opacity: 0.6;
  // }

  &__slash {
    opacity: 0.2;
  }

  &__name {
    transition: opacity $easing6 0.4s;
    cursor: pointer;
  }

  &--active {
    @include link-style(3px);
  }

  &__count {
    transform: translateY(-100%);
    display: inline-block;
  }

  &[stuck] {
    background: linear-gradient(
      45deg, 
      $color-brand-pink 65%, 
      transparent 75%
    );
  }

  @include media-query($on-mobile) {
    display: none;
    // > * {
    //   overflow-x: scroll;
    //   white-space: nowrap;
    // }
  }
}
