// Site header
.site-header {
  margin-top: 16px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(var(--color-brand-maroon), 0.16);

  .wrapper {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

    &:after {
      display: none;
    }
  }
}

.site-title {
  display: inline-block;
}

.page-link {
  padding: 32px;
  position: relative;

  &:before {
    content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 50%;
      transform: rotate(-8deg);
      transition: $easing6 $duration-short transform;
  }

  &:hover {
    &::before {
      transform: rotate(-188deg) scale(0.5);
    }
  }
}

.site-nav {
  .menu-icon {
    display: none;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border: 1px solid var(--color-brand-maroon);
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: var(--color-brand-maroon);
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}