$font-family-display: "Recife Display", Georgia, sans-serif;
$font-family-heading: "Schnyder", Georgia, sans-serif;
$base-font-family: "Lora", Helvetica, Arial, sans-serif;

$golden-ratio: 1.61803398875;

$base-font-size: 22px;
$base-font-weight: 400;

$small-font-size: $base-font-size * 0.875;
$base-line-height: $golden-ratio;

$spacing-unit: 32px;

html, body {
  font-size: $base-font-size;
}

// Headings
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: $font-family-heading;
  line-height: (($golden-ratio - 1) / 4) + 1;
  font-weight: 500;
}

.heading-1 {
  font-family: $font-family-display;
  font-size: 120px;
  font-weight: 300;
  letter-spacing: -4px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 80px;
  }

  @include media-query($on-palm) {
    font-size: 64px;
  }
}

.heading-2 {
  font-size: 64px;
}

.heading-3 {
  font-size: 55px;
}

.heading-4 {
  font-size: 40px;
}

.heading-5 {
  font-size: 32px;
}

.heading-6 {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mb0 {
  margin-bottom: 0;
}
