$font-family-display: "Recife Display", Georgia, sans-serif;
$font-family-heading: "Schnyder", Georgia, sans-serif;
$base-font-family: "Lora", Helvetica, Arial, sans-serif;

$golden-ratio: 1.61803398875;

$base-font-size: 24px;
$base-font-weight: 400;

$base-line-height: $golden-ratio;

html, body {
  font-size: $base-font-size;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// opacity: 0;
// animation: fadeIn $easing1 $duration-long;
// animation-fill-mode: forwards;


// Headings
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
.heading-7 {
  font-family: $font-family-heading;
  font-weight: 500;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  -webkit-font-smoothing: antialiased;
}

.heading-2,
.heading-3,
.heading-4 {
  line-height: (($golden-ratio - 1) / 4) + 1;
}

.heading-5,
.heading-6 {
  line-height: (($golden-ratio - 1) / 2) + 1;
}

.heading-1 {
  font-family: $font-family-display;
  font-size: 126px;
  line-height: (($golden-ratio - 1) / 12) + 1;
  font-weight: 300;
  letter-spacing: -3px;
  max-width: 960px;
  margin-bottom: 2 * $spacing-unit;
}

.heading-2 {
  font-size: 64px;
}

.heading-3 {
  font-size: 56px;
}

.heading-4 {
  font-size: 40px;
}

.heading-5 {
  font-size: 34px;
}

.heading-6, .heading-7 {
  font-family: "HK Grotesk", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-6 {
  font-weight: 400;
  font-size: 18px;
}

.heading-7 {
  font-weight: bold;
  font-size: 16px;
}
 
.heading-4, .heading-5 {
  a:hover {
    @include link-style(3px);
  }
}


@include media-query($on-tablet) {
  .heading-1 {
    font-size: 80px;
    letter-spacing: -1px;
  }
  .heading-3 {
    font-size: 48px;
  }
}

@include media-query($on-mobile) {
  .heading-1 {
    font-size: 64px;
  }

  .heading-2 {
    font-size: 56px;
  }

  .heading-4 {
    font-size: 32px;
  }

  .heading-5 {
    font-size: 30px;
  }

  html, body {
    font-size: 21px;
  }
}