---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h5 class="heading-5">{% for category in page.categories %}
      {{ category }}{% if forloop.last == false %}, {% endif %}
    {% endfor %}</h5>
    <h2 class="heading-2" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<hr>
<h6 class="heading-6">Related Posts</h6>
<hr>
{% assign posts = site.related_posts %}

{% include post-list.html %}
